<div class="page-cover">
    <!-- Cover Background -->
    <!-- <div class="cover-bg bg-img" data-image-src="assets/img/bg-default1.jpg"></div> -->

    <!-- BEGIN OF Slideshow Background - uncomment below to use background slideshow-->
    <div class="cover-bg slide-show">
        <i class='img' data-src='assets/img/bg-default.jpg'></i>
        <!-- <i class='img' data-src='assets/img/bg-default1.jpg'></i> -->
        <!-- <i class='img' data-src='assets/img/bg-default3.jpg'></i> -->
        <i class='img' data-src='assets/img/bg-default6.jpg'></i>
        <i class='img' data-src='assets/img/bg-default4.jpg'></i>
    </div>
    <!-- END OF Slideshow Background -->

    <!-- Transluscent mask as filter -->
    <!-- <div class="cover-bg-mask bg-color" data-bgcolor="rgba(29, 29, 29, 0.2)"></div> -->
</div>
<!--END OF page cover -->

<!-- BEGIN OF page main content -->
<main class="page-main page-fullpage main-anim" id="mainpage">

    <!-- Begin of about section -->
    <div class="section section-description fp-auto-height-responsive " data-section="">
        <!-- Begin of section wrapper -->
        <div class="section-wrapper center-vh dir-col anim">
            <!-- title -->
            <div class="section-title text-center">
                <!-- <h5 class="title-bg">About</h5> -->
                <h3 class="display-4 display-title anim-2"> About Us </h3>
            </div>
            <!-- content -->
            <div class="section-content reduced anim text-justify">
                <!-- title and description -->
                <div class="title-desc anim-3">
                    <h6 class="anim-2">
                        Thank you for reviewing KodeAlpha service providers. Based on our experience, we are confident, we can can serve as a functional asset for you and provide quality services at your disposal.
                        <br><br>
                        <a routerLink="/portfolio" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" target="_top"> 
                            KodeAlpha strives</a> to deliver unparalleled services to our clients. Based on your requirements, we are confident that our services will match your demands. Our team is comprised only of members with
                        practical field experience and sound professional knowledge of their domain.
                        <br><br> KodeAlpha provides a complete set of software services prioritizing client demands to ensure the results are exactly as required, assuring 100 percent client satisfaction. We ensure that the development and delivery of
                        quality software products and services which are designed to be in conformance with elicitated requirements. We offer a vast variety of services ranging from Web, Android and Unity development to all fields of Content Generation
                        services. Our primary objective is to facilitate our esteemed clients by relaying development updates in real time to ensure the deliverables of end product exactly as envisioned.
                        <br><br> We employ a wide range of research tools to develop a comprehensive digital marketing strategy that will meet your acquisition goals. If you have any questions or concerns about this proposal, please don't hesitate to
                        leave a comment or email us at contact@kodealpha.com.
                        <br><br> Sincerely,
                        <br><br> Khushboo Hussain <br><br> CEO KODEALPHA <br><br>
                    </h6>
                </div>
            </div>

            <!-- Arrows scroll down/up -->
            <footer class="section-footer scrolldown">
                <a class="down">
                    <span class="icon"></span>
                    <span class="txt">services</span>
                </a>
            </footer>
        </div>
        <!-- End of section wrapper -->
    </div>
    <!-- End of about section -->

    <!-- Begin of services section -->
    <div class="section section-description fp-auto-height-responsive " data-section="">
        <!-- Begin of section wrapper -->
        <div class="section-wrapper center-vh dir-col anim">
            <!-- title -->
            <div class="section-title text-center">
                <!-- <h5 class="title-bg">Services</h5> -->
                <h3 class="display-4 display-title anim-2"> Services </h3>
            </div>
            <!-- content -->
            <div class="section-content reduced anim text-justify">
                <!-- title and description -->
                <div class="title-desc anim-3">
                    <h6 class="anim-2">
                        We offer a diverse range of services to satisfy clients searching for different software solutions as well as other services. The continuous experience in various business niches has allowed us to develop a keen insight and optimize our services. Rather
                        than leaving our esteemed clients to search for various service providers fulfill the full spectrum of their necessities, we strive to offer complete packages which are targeted to cover everything. Following is the list of services
                        we proudly offer at KodeAlpha:
                        <br><br>
                        <ul class="anim-2">
                            SERVICES:
                            <li>Web Desiging and Development</li>
                            <li>Mobile Application Development</li>
                            <li>Software Support and Maintenance </li>
                            <li>Web Hosting </li>
                            <li>Graphic Designing Services</li>
                            <li>Search Engine Optimization</li>
                        </ul>

                    </h6>
                </div>
            </div>

            <!-- Arrows scroll down/up -->
            <footer class="section-footer scrolldown">
                <a class="down">
                    <span class="icon"></span>
                    <span class="txt">services</span>
                </a>
            </footer>
        </div>
        <!-- End of section wrapper -->
    </div>

    <div class="section section-description fp-auto-height-responsive " data-section="">
        <!-- Begin of section wrapper -->
        <div class="section-wrapper center-vh dir-col anim">
            <!-- title -->
            <div class="section-title text-center">
                <!-- <h5 class="title-bg">Services</h5> -->
                <h3 class="display-4 display-title anim-4"> Website </h3>
            </div>
            <!-- content -->
            <div class="section-content reduced anim text-justify">
                <!-- title and description -->
                <div class="title-desc anim-3">
                    <h6 class="anim-2">
                        Our team of professional web developers at KodeAlpha have honed their skills through continuous experience in the industry and hence are updated with the technological advances and trends to offer you the highest quality of website designing. As the technology
                        changes, our team continually adapts and evolves, learning and integrating new skills to produce an unmatched result of superior quality. Following is the list of services we provide in the web design and development sector:
                        <br><br>
                        <ul class="anim-2">
                            SERVICES:
                            <li>Web Desiging </li>
                            <li> Web Development </li>
                            <li>Web Hosting </li>
                            <li>Bug Fixing</li>
                            <li>website Optimization</li>
                            <li>Website Support and Maintenance </li>
                            <li> Database Services </li>
                            <li> Web Based Business Solutions</li>
                            <li>Search Engine Optimization</li>

                        </ul>

                    </h6>
                </div>
            </div>

            <!-- Arrows scroll down/up -->
            <footer class="section-footer scrolldown">
                <a class="down">
                    <span class="icon"></span>
                    <span class="txt">services</span>
                </a>
            </footer>
        </div>
        <!-- End of section wrapper -->
    </div>
    <div class="section section-description fp-auto-height-responsive " data-section="">
        <!-- Begin of section wrapper -->
        <div class="section-wrapper center-vh dir-col anim">
            <!-- title -->
            <div class="section-title text-center">
                <!-- <h5 class="title-bg">Services</h5> -->
                <h3 class="display-4 display-title anim-4"> Mobile Apps </h3>
            </div>
            <!-- content -->
            <div class="section-content reduced anim text-justify">
                <!-- title and description -->
                <div class="title-desc anim-3">
                    <h6 class="anim-2">
                        Specializing in their dedicated fields, our professional team of Android and iOS is comprised of developers enthusiastic to tackle new problems and devising unique solutions for them. We provide our clients with options for both native and cross platform
                        development for Android and iOS. With continuous experience in the industry, we understand all too well that delivering quality oriented projects on tight deadlines with complete functionality and acceptance stakeholders is fundamental
                        for success. Following are the services we offer for Android and iOS design and development:
                        <br><br>
                        <ul class="anim-2">
                            SERVICES:
                            <li>Android App Development </li>
                            <li> iOS App Development </li>
                            <!-- <li>Bug Fixing </li> -->
                            <li>Bug Fixing</li>
                            <li>website Optimization</li>
                            <li> Database Services </li>
                            <li> App Based Business Solutions</li>
                            <li> Code Optimization</li>
                            <li>Support and Maintenance </li>
                        </ul>
                    </h6>
                </div>
            </div>

            <!-- Arrows scroll down/up -->
            <footer class="section-footer scrolldown">
                <a class="down">
                    <span class="icon"></span>
                    <span class="txt">services</span>
                </a>
            </footer>
        </div>
        <!-- End of section wrapper -->
    </div>
    <div class="section section-description fp-auto-height-responsive " data-section="">
        <!-- Begin of section wrapper -->
        <div class="section-wrapper center-vh dir-col anim">
            <!-- title -->
            <div class="section-title text-center">
                <!-- <h5 class="title-bg">Services</h5> -->
                <h3 class="display-4 display-title anim-4"> Graphics </h3>
            </div>
            <!-- content -->
            <div class="section-content reduced anim text-justify">
                <!-- title and description -->
                <div class="title-desc anim-3">
                    <h6 class="anim-2">
                        Graphic designing is central towards building a visual image for the brand. We provide the following services for our clients to avail from:
                        <br><br>
                        <ul class="anim-2">
                            SERVICES:
                            <li>Visual Identity: Logos, Letterhead, Business Cards, Posters
                            </li>
                            <li> Marketing Materials: Brochures, Flyers, Postcards, Posters
                            </li>
                            <li>Magazines, Books, Catalogs </li>
                            <li>Banner Ads/Web Headers</li>
                            <li>Cover CDs/E-Books/Kindle</li>
                            <li> Portraits/Caricatures </li>
                            <li> Product Packaging</li>
                            <li> Web/Mobile UI Designs</li>
                            <li>T-shirt Designs</li>
                            <li>Presentations</li>
                            <li>Infographics</li>
                            <li>Illustrations</li>
                            <li>Photoshop Image Manipulation</li>
                            <li>Show Case Videos</li>
                        </ul>
                    </h6>
                </div>
            </div>

            <!-- Arrows scroll down/up -->
            <footer class="section-footer scrolldown">
                <a class="down">
                    <span class="icon"></span>
                    <span class="txt">contact us</span>
                </a>
            </footer>
        </div>
        <!-- End of section wrapper -->
    </div>
    <!-- End of services section -->

    <!-- Begin of contact section -->
    <div class="section section-contact fp-auto-height-responsive no-slide-arrows " data-section="">
        <!-- begin of information slide -->
        <div class="slide" id="information" data-anchor="information">
            <!-- Begin of slide section wrapper -->
            <div class="section-wrapper">
                <!-- title -->
                <div class="section-title text-center">
                    <!-- <h5 class="title-bg">Contact Us</h5> -->
                </div>

                <div class="row">
                    <div class="col-12 col-md-6">
                        <!-- content -->
                        <div class="section-content anim text-left">
                            <!-- title and description -->
                            <div class="title-desc">
                                <div class="anim-2">
                                    <h5>Customer Service</h5>
                                    <h2 class="display-4 display-title">Contact</h2>
                                    <h6>For any query regarding our company, contact us on the following addresse.
                                    </h6>
                                </div>
                                <div class="address-container anim-3">

                                    <div class="row">
                                        <div class="col-12 col-md-12 col-lg-6">
                                            <h4>Contact</h4>
                                            <h6>Call: +92 332 7383242 +92 051 2710271
                                            </h6>
                                            <h6>Email: contact@kodealpha.com</h6>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-6">
                                            <h4>Address</h4>
                                            <h6>
                                                Office 407, Falcon Mall Block A Civic Center, Phase 4 Bahria Town (46220), Rawalpindi, Pakistan
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Action button -->
                            <div class="btns-action anim-4">
                                <a class="btn btn-outline-white btn-round" href="about-us/#message">
                                    <span class="txt">Send Message</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">

                    </div>
                </div>
            </div>
            <!-- End of slide section wrapper -->
        </div>
        <!-- end of information slide -->

        <!-- begin of message slide -->
        <div class="slide" id="message" data-anchor="message">
            <!-- Begin of slide section wrapper -->
            <div class="section-wrapper">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-6 center-vh">
                        <!-- content -->
                        <div class="section-content anim text-left">
                            <!-- title and description -->
                            <div class="title-desc">
                                <div>
                                    <h5>Customer Service</h5>
                                    <h2 class="display-4 display-title">Email Us</h2>
                                    <h6> For questions about our company and products found on our stores. </h6>
                                </div>
                            </div>

                            <!-- Action button -->
                            <div class="btns-action">
                                <a class="btn btn-outline-white btn-round" href="about-us/#about">
                                    <span class="txt">Information</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-5">
                        <!-- content -->
                        <div class="section-content anim text-left">
                            <!-- title and description -->
                            <div class="">
                                <div class="form-container form-container-card">
                                    <!-- Message form container -->
                                    <form class="send_message_form message form" id="message_form">
                                        <div class="form-group name">
                                            <label for="mes-name">Name :</label>
                                            <input id="mes-name" name="name" [(ngModel)]="name" type="text" placeholder="Full Name" class="form-control-line form-success-clean" required>
                                        </div>
                                        <div class="form-group email">
                                            <label for="mes-email">Email :</label>
                                            <input id="mes-email" type="email" [(ngModel)]="email" placeholder="abc@mail.com" name="email" class="form-control-line form-success-clean" required>
                                        </div>
                                        <div class="form-group no-border">
                                            <label for="mes-text">Message</label>
                                            <textarea id="mes-text" placeholder="type here ..." [(ngModel)]="message" name="message" class="form-control form-control-outline thick form-success-clean" required>
                                                </textarea>

                                            <div>
                                                <p class="message-ok invisible form-text-feedback form-success-visible">
                                                    Your message has been sent, Thank you. </p>
                                            </div>
                                        </div>

                                        <div class="btns">
                                            <button id="submit-message" class="btn btn-normal btn-white btn-round btn-full email_b" name="submit_message" (click)="sendContactDetail()">
                                                <span class="txt">Send</span>
                                                <span class="arrow-icon"></span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of slide section wrapper -->
        </div>
        <!-- end of message slide -->

    </div>
    <!-- End of contact section -->
</main>
<!-- END OF page main content -->