<!-- BEGIN OF page cover -->
<div class="page-cover">
    <!-- Cover Background -->
    <div class="cover-bg bg-img" data-image-src="assets/img/bg-default1.jpg"></div>

    <!-- BEGIN OF Slideshow Background - uncomment below to use background slideshow-->
    <div class="cover-bg slide-show">
        <i class='img' data-src='assets/img/bg-default.jpg'></i>
        <i class='img' data-src='assets/img/bg-default1.jpg'></i>
    </div>
    <!-- END OF Slideshow Background -->

    <!-- Transluscent mask as filter -->
    <div class="cover-bg-mask bg-color" data-bgcolor="rgba(29, 29, 29, 0.2)"></div>
</div>
<!--END OF page cover -->

<!-- BEGIN OF page main content -->
<main class="page-main page-fullpage main-anim" id="mainpage">
    <!-- Begin of home section -->
    <div class="section section-home fullscreen-md fp-auto-height-responsive " data-section="home">
        <!-- Begin of section wrapper -->
        <div class="section-wrapper">
            <!-- content -->
            <div class="section-content anim">
                <div class="row">
                    <div class="col-12 col-md-6 text-left">
                        <!-- title and description -->
                        <div class="title-desc">
                            <h4 class="display-4 display-title home-title bordered anim-1"> KodeAlpha
                            </h4>
                            <h4 class="anim-2 text-justify">
                                When it comes to I.T solution services our customers will always find us one step ahead.
                            </h4>
                        </div>
                        <!-- Action button -->
                        <div class="btns-action anim-3">
                            <a class="btn btn-outline-white btn-lg btn-round" href="#about">
                                    Get started
                                </a>
                        </div>
                    </div>

                    <!-- begin of right content -->
                    <div class="col-12 col-md-6 right-content hidden-sm center-vh">
                        <!-- content -->
                        <div class="section-content">
                            <!-- illustartion -->
                            <div class="illustr zoomout-1">
                                <img class="logo" src="assets/img/logo2.png" alt="KodeAlpha logo" style="max-width: 200px !important; max-height: 60px !important;">
                            </div>
                        </div>
                    </div>
                    <!-- end of right content -->
                </div>
            </div>
            <!-- Arrows scroll down/up -->
            <footer class="section-footer scrolldown">
                <a class="down">
                    <span class="icon"></span>
                    <span class="txt">Services</span>
                </a>
            </footer>
        </div>
        <!-- End of section wrapper -->
    </div>
    <!-- End of home section -->

    <!-- Begin of about section -->
    <div class="section section-description fp-auto-height-responsive " data-section="">
        <!-- Begin of section wrapper -->
        <div class="section-wrapper center-vh dir-col anim">
            <!-- <div class="container-fluid bg-primary "> -->
            <h2 class="text-center text-light">Graphics Designing </h2>


            <!-- Arrows scroll down/up -->
            <footer class="section-footer scrolldown">
                <a class="down">
                    <span class="icon"></span>
                    <span class="txt">services</span>
                </a>
            </footer>
            <!-- </div> -->
            <!-- End of section wrapper -->
        </div>
        <!-- End of about section -->
    </div>
    <!-- Begin of home section -->
    <div class="section section-home fullscreen-md fp-auto-height-responsive " data-section="home">
        <!-- Begin of section wrapper -->
        <div class="section-wrapper">
            <!-- content -->
            <div class="section-content anim">
                <div class="row">
                    <div class="col-12 col-md-6 text-left">
                        <!-- title and description -->
                        <div class="title-desc">
                            <h4 class="display-4 display-title home-title bordered anim-1"> KodeAlpha
                            </h4>
                            <h4 class="anim-2 text-justify">
                                When it comes to I.T solution services our customers will always find us one step ahead.
                            </h4>
                        </div>
                        <!-- Action button -->
                        <div class="btns-action anim-3">
                            <a class="btn btn-outline-white btn-lg btn-round" href="#about">
                                        Get started
                                    </a>
                        </div>
                    </div>

                    <!-- begin of right content -->
                    <div class="col-12 col-md-6 right-content hidden-sm center-vh">
                        <!-- content -->
                        <div class="section-content">
                            <!-- illustartion -->
                            <div class="illustr zoomout-1">
                                <img class="logo" src="assets/img/logo2.png" alt="KodeAlpha logo" style="max-width: 200px !important; max-height: 60px !important;">
                            </div>
                        </div>
                    </div>
                    <!-- end of right content -->
                </div>
            </div>
            <!-- Arrows scroll down/up -->
            <footer class="section-footer scrolldown">
                <a class="down">
                    <span class="icon"></span>
                    <span class="txt">Services</span>
                </a>
            </footer>
        </div>
        <!-- End of section wrapper -->
    </div>
    <!-- End of home section -->

</main>
<!-- END OF page main content -->