<!-- BEGIN OF page cover -->
<!-- <div class="page-cover"> -->
<!-- Cover Background -->
<!-- <div class="cover-bg bg-img" data-image-src="assets/img/bg-default1.jpg"></div> -->

<!-- BEGIN OF Slideshow Background - uncomment below to use background slideshow-->
<!-- <div class="cover-bg slide-show">
        <i class='img' data-src='assets/img/bg-default.jpg'></i>
        <i class='img' data-src='assets/img/bg-default1.jpg'></i>
        <i class='img' data-src='assets/img/bg-default3.jpg'></i>
        <i class='img' data-src='assets/img/bg-default4.jpg'></i>
        <i class='img' data-src='assets/img/bg-default5.jpg'></i>
    </div> -->
<!-- END OF Slideshow Background -->

<!-- Transluscent mask as filter -->
<!-- <div class="cover-bg-mask bg-color" data-bgcolor="rgba(29, 29, 29, 0.2)"></div>
</div> -->
<!--END OF page cover -->

<!-- BEGIN OF page main content -->
<main class="page-main page-fullpage main-anim" id="mainpage">

    <!-- Begin of about section -->
    <div class="section section-description fp-auto-height-responsive " data-section="about">
        <!-- Begin of section wrapper -->
        <div class="section-wrapper center-vh dir-col anim">
            <!-- title -->
            <div class="section-title text-center">
                <!-- <h5 class="title-bg">About</h5> -->
                <h3 class="display-title anim-2">Professional Software Services
                </h3>
            </div>
            <!-- content -->
            <div class="section-content reduced anim text-justify">
                <!-- title and description -->
                <div class="title-desc anim-3">
                    <h4 class="anim-2">
                        KodeAlpha is an established Software Development Comapny that offers Website Development, Application Development, Website Designing, Desktop Application Development and Graphic Designing.
                    </h4>
                </div>
            </div>

            <!-- Arrows scroll down/up -->
            <footer class="section-footer scrolldown">
                <a class="down">
                    <span class="icon"></span>
                    <span class="txt">services</span>
                </a>
            </footer>
        </div>
        <!-- End of section wrapper -->
    </div>
    <!-- End of about section -->

    <!-- Begin of slider section for Graphics  -->
    <div class="section section-twoside fp-auto-height-responsive " data-section="">
        <!-- Begin of section wrapper -->
        <div class="section-wrapper twoside">

            <div class="slider-wrapper carousel-swiper-beta carousel-smalls carousel-swiper-beta-demo">
                <!-- slider -->
                <div class="slider-container swiper-container">
                    <div class="section-title text-center">
                        <!-- <h5 class="title-bg">About</h5> -->
                        <h2 class="display-title anim-2">Graphics Designing </h2>
                    </div>
                    <ul class="item-list swiper-wrapper">
                        <!-- item 0-->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (0).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="https://turmazsolars.com" target="_blank">
                                    <h3 class="display-3">Turmaz Solars</h3>
                                    <h4>WordPress</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item 1-->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (1).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="https://www.hfe.co.uk" target="_blank">
                                    <h3 class="display-3">HFE </h3>
                                    <h4>WordPress</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item 2-->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (2).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="https://www.vital.co.za" target="_blank">
                                    <h3 class="display-3">Vital Boost Energy </h3>
                                    <h4> WordPress WooCommerce</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item 4-->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (4).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="https://www.shopblushingbelle.com" target="_blank">
                                    <h3 class="display-3">Blushing Boutique </h3>
                                    <h4>Shopify</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item 5-->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (5).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="http://etree.com.sa" target="_blank">
                                    <h3 class="display-3">eTree </h3>
                                    <h4>WordPress</h4>
                                </a>
                            </div>
                        </li>

                    </ul>
                </div>
                <!-- pagination -->
                <div class="items-pagination bar"></div>
                <!-- navigation -->
                <div class="items-button bottom fit items-button-prev">
                    <a class="btn btn-transp-arrow btn-lg icon-left" href="">
                        <span class="icon arrow-left"></span>
                        <span class="text">Prev</span>
                    </a>
                </div>
                <div class="items-button bottom fit items-button-next">
                    <a class="btn btn-transp-arrow btn-lg icon-right" href="">
                        <span class="icon arrow-right"></span>
                        <span class="text">Next</span>
                    </a>
                </div>
            </div>
            <!-- end of carousel-swiper-beta -->
        </div>
        <!-- End of section wrapper -->
    </div>
    <!-- End of slider section for Graphics-->
    <!-- Begin of slider section for Web -->
    <div class="section section-twoside fp-auto-height-responsive " data-section="">
        <!-- Begin of section wrapper -->
        <div class="section-wrapper twoside">

            <div class="slider-wrapper carousel-swiper-beta carousel-smalls carousel-swiper-beta-demo">
                <!-- slider -->
                <div class="slider-container swiper-container">
                    <div class="section-title text-center">
                        <!-- <h5 class="title-bg">About</h5> -->
                        <h2 class="display-title anim-2">Website Development </h2>
                    </div>
                    <ul class="item-list swiper-wrapper">
                        <!-- item 0-->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (0).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="https://turmazsolars.com" target="_blank">
                                    <h3 class="display-3">Turmaz Solars</h3>
                                    <h4>WordPress</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item 1-->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (1).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="https://www.hfe.co.uk" target="_blank">
                                    <h3 class="display-3">HFE </h3>
                                    <h4>WordPress</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item 2-->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (2).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="https://www.vital.co.za" target="_blank">
                                    <h3 class="display-3">Vital Boost Energy </h3>
                                    <h4> WordPress WooCommerce</h4>
                                </a>
                            </div>
                        </li>
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (4).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="https://www.shopblushingbelle.com" target="_blank">
                                    <h3 class="display-3">Blushing Boutique </h3>
                                    <h4>Shopify</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item 5-->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (5).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="http://etree.com.sa" target="_blank">
                                    <h3 class="display-3">eTree </h3>
                                    <h4>WordPress</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item 6-->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (6).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="https://lammily.com" target="_blank">
                                    <h3 class="display-3">Lammily </h3>
                                    <h4>WordPress WooCommerce</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item 7-->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (7).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="https://www.thebugmaster.com" target="_blank">
                                    <h3 class="display-3">Bug Master</h3>
                                    <h4>WordPress </h4>
                                </a>
                            </div>
                        </li>
                        <!-- item 8-->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (8).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="https://aloquence.eu" target="_blank">
                                    <h3 class="display-3">Aloquence </h3>
                                    <h4>WordPress PrestaShop</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item 9-->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (9).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="https://https://gulbergassociates.com.com" target="_blank">
                                    <h3 class="display-3">Gulberg Associates</h3>
                                    <h4>WordPress</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item 10-->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (10).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="https://lilyhandt.com" target="_blank">
                                    <h3 class="display-3">Lily Handt</h3>
                                    <h4>WordPress</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item 11-->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (11).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="https://mrrevhead.com" target="_blank">
                                    <h3 class="display-3">Mr Revhead</h3>
                                    <h4>Shopify</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item 12-->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (12).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="https://www.gymshark.com" target="_blank">
                                    <h3 class="display-3">Gym Shark</h3>
                                    <h4>Shopify</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item 13-->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase (13).jpg" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="learnpick.in" target="_blank">
                                    <h3 class="display-3">Learn Pick</h3>
                                    <h4>PHP Core</h4>
                                </a>
                            </div>
                        </li>
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase1.png" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="#projects" target="_blank">
                                    <h3 class="display-3">Lesco</h3>
                                    <h4>Ionic App</h4>
                                </a>
                            </div>
                        </li>
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase1.png" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="#projects" target="_blank">
                                    <h3 class="display-3">Lesco</h3>
                                    <h4>Ionic App</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item -->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase2.png" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="#projects">
                                    <h3 class="display-3">Cryptowiz</h3>
                                    <h4>Ionic App</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item -->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase3.png" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="#projects">
                                    <h3 class="display-3"> Beauty Me
                                    </h3>
                                    <h4>Ionic App</h4>
                                </a>
                            </div>
                        </li>
                        <!-- item -->
                        <li class="slide-item swiper-slide">
                            <div class="item-wrapper">
                                <div class="illustr">
                                    <img src="assets/img/project/showcase4.png" alt="Image" class="img">
                                </div>
                                <a class="legend text-primary" href="#projects">
                                    <h3 class="display-3">KSL Logistics</h3>
                                    <h4>MEAN Stack</h4>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- pagination -->
                <div class="items-pagination bar"></div>
                <!-- navigation -->
                <div class="items-button bottom fit items-button-prev">
                    <a class="btn btn-transp-arrow btn-lg icon-left" href="">
                        <span class="icon arrow-left"></span>
                        <span class="text">Prev</span>
                    </a>
                </div>
                <div class="items-button bottom fit items-button-next">
                    <a class="btn btn-transp-arrow btn-lg icon-right" href="">
                        <span class="icon arrow-right"></span>
                        <span class="text">Next</span>
                    </a>
                </div>
            </div>
            <!-- end of carousel-swiper-beta -->
        </div>
        <!-- End of section wrapper -->
    </div>
    <!-- End of slider section for web-->
</main>
<!-- END OF page main content -->