<!-- BEGIN OF page footer -->
<footer id="site-footer" class="page-footer">
    <!-- Left content -->
    <div class="footer-left">
        <h6>&copy;
            <a routerLink="/about-kodealpha" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                true}"> KODE ALPHA 2020 </a> / All RIGHTS RESERVED.
        </h6>
        <!-- <a routerLink="/heroes" routerLinkActive="active">Heroes</a> -->
    </div>

    <!-- Right content -->
    <div class="footer-right">
        <ul class="social">
            <li>
                <a href="https://www.facebook.com/KodeAlpha/">
                    <i class="icon fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/Kode_Alpha">
                    <i class="icon fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/kodealpha">
                    <i class="icon fa fa-linkedin"></i>
                </a>
            </li>
            <!-- <li>
                <a href="">
        <i class="icon fa fa-instagram"></i>
      </a>
            </li> -->
        </ul>
    </div>
</footer>
<!-- END OF site footer -->